In [86]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image
import keras
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from keras.applications.vgg16 import VGG16
from keras.preprocessing import image
from keras.applications.vgg16 import preprocess_input
import numpy as np

In [87]:
dataset = pd.read_csv(r"/content/train2.csv")
dataset1 = pd.read_csv(r"/content/test2.csv")

In [88]:
dataset.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198,f_1199,labels
0,-2.033875,0.978446,-0.142131,-0.177117,-1.470684,1.669562,-0.196530,-0.125239,-0.452284,-0.128052,...,0.716084,0.060039,0.301279,-1.174846,-1.076498,-0.069452,-0.604012,-2.179176,0.558003,0
1,-0.348835,0.294815,-0.557577,-2.020773,-1.234715,1.633930,-1.680658,-0.358146,0.166122,-1.656990,...,0.829781,1.521941,1.347946,0.754505,1.330642,-0.754453,0.582956,0.252671,1.495870,1
2,0.113248,-0.607726,-0.947791,0.830851,0.998291,0.498321,-1.493958,0.789572,-1.311018,0.848524,...,0.616189,-1.035953,2.111387,-0.984415,1.148076,-1.433554,0.243372,0.170083,1.274795,1
3,1.223321,-0.479048,-1.925789,1.680377,0.021840,-1.453307,0.605559,-0.019024,1.065448,0.717341,...,-1.957863,-0.123384,1.505329,0.660290,-1.769443,-0.547756,-0.568122,0.244645,0.982116,0
4,0.160109,0.422684,-0.308029,0.227744,0.432854,0.608348,0.193832,1.035091,-0.538868,0.778445,...,1.441766,0.212572,-0.994721,1.143999,-2.166923,-1.199248,-1.028636,0.752791,0.317169,0

In [89]:
dataset.isna().sum()

f_0       0
f_1       0
f_2       0
f_3       0
f_4       0
         ..
f_1196    0
f_1197    0
f_1198    0
f_1199    0
labels    0
Length: 1201, dtype: int64

In [90]:
dataset.dropna(axis=0,inplace=True)

In [91]:
dataset.isna().sum()

f_0       0
f_1       0
f_2       0
f_3       0
f_4       0
         ..
f_1196    0
f_1197    0
f_1198    0
f_1199    0
labels    0
Length: 1201, dtype: int64

In [92]:
dataset1.isna().sum()

f_0       0
f_1       0
f_2       0
f_3       0
f_4       0
         ..
f_1196    0
f_1197    0
f_1198    0
f_1199    0
id        0
Length: 1201, dtype: int64

In [93]:
dataset.dropna(axis=0,inplace=True)

In [94]:
X_train = dataset.iloc[:,0:1199]
y_train_string = dataset.iloc[:,1200]
X_test = dataset1.iloc[:,0:1199]

In [95]:
X_train.describe()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_1189,f_1190,f_1191,f_1192,f_1193,f_1194,f_1195,f_1196,f_1197,f_1198
count,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,...,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000,5250.000000
mean,0.385453,0.086769,0.317084,0.400414,0.093063,0.173532,-0.174072,-0.074659,-0.135957,0.235435,...,0.140791,0.417874,-0.405061,0.091497,-0.276132,-0.133123,-0.156475,-0.096026,0.372260,-0.222551
std,0.929075,0.898979,0.969380,0.954504,0.968625,0.895351,1.001566,0.906168,0.972163,0.868382,...,0.954373,0.941354,1.054231,0.958970,0.989820,1.042036,1.019384,0.913732,0.944429,0.973640
min,-3.462941,-3.605773,-4.078232,-3.344323,-3.613712,-3.319666,-3.627701,-3.528635,-4.503662,-3.419690,...,-3.421379,-3.684054,-3.385650,-3.162629,-3.022903,-3.698249,-4.791005,-3.356509,-3.933762,-4.174752
25%,-0.286854,-0.470281,-0.379984,-0.290078,-0.644337,-0.392807,-0.980593,-0.677763,-0.914803,-0.284657,...,-0.533848,-0.254776,-1.265848,-0.594289,-1.054700,-1.009256,-0.833164,-0.684567,-0.301254,-1.010557
50%,0.598422,0.071867,0.518698,0.653512,0.141549,0.237502,-0.180645,-0.159631,-0.108885,0.307975,...,0.240526,0.648944,-0.489479,0.192821,-0.301887,-0.139792,-0.197277,-0.156927,0.612440,-0.241763
75%,1.108212,0.609769,1.085552,1.135854,0.950304,0.747622,0.621790,0.450741,0.627055,0.812912,...,0.849412,1.131876,0.366639,0.779280,0.409370,0.740059,0.493094,0.434146,1.109200,0.508097
max,3.439295,3.581171,3.991985,3.900672,3.488667,3.193113,3.062756,3.877255,3.017000,3.861090,...,3.091403,4.077517,3.550058,3.790435,3.907684,3.777545,3.269490,3.526907,3.542401,3.642856

In [96]:
X_train.shape

(5250, 1199)

In [97]:
from sklearn.linear_model import LogisticRegression # importing logistic regression
from sklearn.tree import DecisionTreeClassifier #importing decision trees classifier
from sklearn.svm import SVC #importing svc

In [98]:
import sklearn
from sklearn import preprocessing #for preprocessing the initial dataset given ..

import sklearn.metrics as metrics

In [99]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [100]:
model = Sequential()
model.add(Dense(100, activation='relu', input_dim=1199))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [101]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [102]:
model.fit(X_train, y_train_string, epochs=15, batch_size=32)

Epoch 1/15
165/165 [==============================] - 2s 3ms/step - loss: 0.3428 - accuracy: 0.8390
Epoch 2/15
165/165 [==============================] - 1s 3ms/step - loss: 0.1171 - accuracy: 0.9688
Epoch 3/15
165/165 [==============================] - 1s 3ms/step - loss: 0.0333 - accuracy: 0.9949
Epoch 4/15
165/165 [==============================] - 1s 3ms/step - loss: 0.0076 - accuracy: 1.0000
Epoch 5/15
165/165 [==============================] - 1s 4ms/step - loss: 0.0022 - accuracy: 1.0000
Epoch 6/15
165/165 [==============================] - 1s 3ms/step - loss: 0.0011 - accuracy: 1.0000
Epoch 7/15
165/165 [==============================] - 1s 3ms/step - loss: 7.2002e-04 - accuracy: 1.0000
Epoch 8/15
165/165 [==============================] - 1s 3ms/step - loss: 4.9235e-04 - accuracy: 1.0000
Epoch 9/15
165/165 [==============================] - 1s 3ms/step - loss: 3.5538e-04 - accuracy: 1.0000
Epoch 10/15
165/165 [==============================] - 1s 3ms/step - loss: 2.6502e-04 - accuracy: 1.0000
Epoch 11/15
165/165 [==============================] - 1s 4ms/step - loss: 2.0372e-04 - accuracy: 1.0000
Epoch 12/15
165/165 [==============================] - 1s 5ms/step - loss: 1.5938e-04 - accuracy: 1.0000
Epoch 13/15
165/165 [==============================] - 1s 5ms/step - loss: 1.2678e-04 - accuracy: 1.0000
Epoch 14/15
165/165 [==============================] - 1s 4ms/step - loss: 1.0204e-04 - accuracy: 1.0000
Epoch 15/15
165/165 [==============================] - 1s 3ms/step - loss: 8.3062e-05 - accuracy: 1.0000

In [103]:
# model = VGG16(weights='imagenet', include_top=True)
# X_test = preprocess_input(X_test)

In [104]:
pred = model.predict(X_test)

71/71 [==============================] - 0s 2ms/step

In [105]:
print(pred)

[[1.1661427e-02]
 [2.0765479e-01]
 [7.7088964e-01]
 ...
 [1.0000000e+00]
 [1.8828490e-22]
 [9.9997878e-01]]

In [106]:
pred = np.where(pred > 0.5, 1, 0)

In [107]:
pred = pd.DataFrame(pred,columns=["labels"])

In [108]:
sub = pd.concat([dataset1.id,pred],axis=1)
print(sub)

        id  labels
0        1       0
1        2       0
2        3       1
3        4       0
4        5       0
...    ...     ...
2245  2246       0
2246  2247       0
2247  2248       1
2248  2249       0
2249  2250       1

[2250 rows x 2 columns]

In [109]:
sub.set_index('id',inplace=True)

In [110]:
sub.to_csv(f"Submission_a.csv")